spring:
  application:
    name: discovery-service

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8761
  
eureka:
  client:
    register-with-eureka: false  # El servidor no se registra a sí mismo
    fetch-registry: false        # El servidor no necesita obtener el registro
  server:
    enable-self-preservation: false  # Para desarrollo, desactiva auto-preservación
    eviction-interval-timer-in-ms: 10000  # Limpia instancias caídas cada 10 segundos>