spring:
  application:
    name: discovery-service

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8761
  
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  server:
    wait-time-in-ms-when-sync-empty: 0