server:
  port: 8080
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: member-service
          uri: lb://member-service
          predicates:
            - Path=/api/members/**
        - id: claim-service
          uri: lb://claim-service
          predicates:
            - Path=/api/claims/**    

    discovery:
      locator:
        enabled: true
        lower-case-service-id: true
eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL}
    instance:
      prefer-ip-address: true
management:
  endpoints:
    web:
      exposure:
        include: "*"
