spring:
  application:
    name: claim-service

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL}
    register-with-eureka: true
    fetch-registry: true

server:
  port: 8083